:root {
  /* font-family: 'Inter', sans-serif; */
  font-family: 'Calibri', sans-serif;
  background-color: #282C34;
}

#banner {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

#profile-pic {
  width: 238px;
  height: 221px;
  border-radius: 30px;
}

code {
  background-color: #24272e;
  color: #EEBD70;
}

pre {
  background-color: #24272e;  
}

/* centering everything */
body {
  margin: auto;
  width: 700px;
  color: #c3c3c5;
}

h1 {
  font-size: 1.75em;
  font-weight: 600;
  border-bottom: 2px solid #444953;
  color: #d8d8da;
}

h2 {
  font-size: 1.25em;
  font-weight: 600;
  border-bottom: 0.25px solid #444953;
  color: #d8d8da;
}

h3 {
  font-size: 1.125em;
  font-weight: 600;
  color: #d8d8da;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  color: #5DBEFF;
}

footer {
  border-top: 5px solid #c3c3c5;
}

em {
  color: #A8C373;
}

strong {
  color: #3CA0E4;
}

.lang-javascript .hljs-meta {
  color: #a1a1a0;
}

.lang-javascript .hljs-literal {
  color: #73bbb2;
}