/* centering ever */
body {
  margin: auto;
  width: 800px;
}

#banner {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

#profile-pic {
  width: 238px;
  height: 221px;
  border-radius: 30px;
}

a {
  color: #000000;
}
